
<div class="container" id="ReportApp">
    <div v-if="errorMsg!==''" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Ошибка!</strong> {{ errorMsg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ></button>
    </div>
    <div v-if="msg!==''" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Успех!</strong> {{ msg }} <p><a href="/">На главную</a></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ></button>
    </div>
    <form v-if="msg===''" @submit.prevent="FormSubmt">
        <div class="mb-3">
            <label for="InputName" class="form-label">Имя</label>
            <input v-model="ReportForm.name" type="text" class="form-control" id="InputName" required>
        </div>
        <div class="mb-3">
            <label for="InputLastName" class="form-label">Фамилия</label>
            <input v-model="ReportForm.lastname" type="text" class="form-control" id="InputLastName" required>
        </div>
        <div class="mb-3">
            <label for="InputEmail1" class="form-label">E-mail для уведомлений</label>
            <input v-model="ReportForm.email" type="email" class="form-control" id="InputEmail1" required>
        </div>
        <div class="mb-3">
            <label for="InputPhone" class="form-label">Телефон для уведомлений</label>
            <input v-model="ReportForm.phone" type="tel" pattern="(\+?\d[- .]*){7,13}" class="form-control" id="InputPhone" required>
        </div>
        <div class="mb-3">
            <label for="InputCompany" class="form-label">Подразделение</label>
            <input v-model="ReportForm.company" type="text" class="form-control" id="InputCompany" required>
        </div>

        <div class="mb-3 form-check">
            <input v-model="ReportForm.reporter" type="checkbox" class="form-check-input" id="Check">
            <label class="form-check-label" for="Check">Хочу быть докладчиком</label>
        </div>

        <div v-if="ReportForm.reporter" class="mb-3">
            <label for="InputReportThems" class="form-label">Тема доклада</label>
            <input v-model="ReportForm.reportThems" type="text" class="form-control" id="InputReportThems" required>
        </div> 
        <div v-if="ReportForm.reporter" class="form-floating mb-3">
            <label for="ReportShortDescriptions">Краткое описание доклада</label>
            <textarea v-model="ReportForm.reportShortDescriptions" class="form-control" id="ReportShortDescriptions" style="height: 150px" required></textarea>

        </div>
        <button type="submit" class="btn btn-primary">Регистрация</button>
    </form>
</div>
<script>
    const ReportApp = {
        data() {
            return {
                ReportForm: {
                    name: '', lastname: '', email: '', phone: '', company: '', reportThems: '', reportShortDescriptions: '', reporter: false
                },
                errorMsg: '', msg: '',
                addoptoin: false
            };
        },
        methods: {
            FormSubmt() {
                var apiParam = {
                    data: this.ReportForm
                };
                fetch('/report/joint/api', {
                    mode: 'cors',
                    method: 'POST',
                    cache: 'no-cache',
                    credentials: 'same-origin',
                    body: JSON.stringify(apiParam)
                })
                        .then(res => res.json())
                        .then(res => {
                            if (res.hasOwnProperty('error')) {
                                this.errorMsg = res.error;
                                return;
                            }
                            if (res.hasOwnProperty('success')) {
                                this.msg = 'Вы успешно зарегестрированны! через 5 секунд вы будите перенаправленны на главную страницу';
                                setTimeout(() => {
                                    document.location.href = '/';
                                }, 5000);
                                return;
                            }
                        });
            }
        }
    };

    Vue.createApp(ReportApp).mount('#ReportApp');


</script>